body {
	margin: 0;
}
h1 {
	color:red;
}
h2 {
	text-align: center;
}
div {
  margin: 0;
  padding: 0;
  border: 1px dotted white;
}
button {
	width: 10%;
	height: 10%;
}
.whomToPlay {
	margin: auto;
}
.start {
  text-align: center;
	margin-bottom: 20px;

}
.wrapper {
	height: 350px;
	width: 350px;
	margin: auto;
}

#table {
  display: table;
  padding: 0;
  width: 351px;
  height:351px;

}

.row {
  display: table-row;
  background-color: #f2dede;
 /* border-left-color: #0c0c0c; /* Цвет линии слева
  border-left-style: solid; /* Стиль линии
  border-left-width: 7px*/
}

.cell {
  display: table-cell;
	width: 117px;
	height: 117px;
  background-color: #fbeed5;
  border-color: #c09853;
  text-align: center;
	vertical-align: middle;
  font-size: 50px;
	box-sizing: border-box;
}

.bottom {
	border-bottom: 3px solid black;
}

.left {
	border-left: 3px solid black;
}


#consLog {
  text-align: center;
  height: 20px;
  width: 100px;
}
#result {
	display: none;
  background-color: #E995CE;
  text-align: center;
  font-size: 50px;
	width: 351px;
  height: 60px;
  margin: auto;
}
